# ========================= Eclipse IDE files =========================
.classpath .project .settings/
# ========================= Maven / Java build =========================
target/ *.class
# ========================= Test reports & output =========================
test-output/ reports/ screenshots/ src/test/java/com/smartshiphub/reports/
# ========================= Logs =========================
log/ *.log
