<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SmartShip Automation Suite" verbose="1">

    <!-- Listeners -->
    <listeners>
        <listener class-name="com.smartshiphub.listeners.TestListener"/>
    </listeners>

    <!-- LOGIN TESTS -->
    <test name="Login Tests">
        <classes>
            <class name="com.smartshiphub.tests.LoginTest"/>
        </classes>
    </test>
</suite>
